<%- include('../partials/header.ejs') %>

<div class="card mb-3" style="max-width: 100vw; margin: 0 10%;">
    <div class="row g-0">
      <div class="col-lg-6 col-md-4">


        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

          <div class="carousel-inner">

            <% for(let idx in Images){ %>
              <% if(idx == 0){ %>
                <div class="carousel-item active">
                  <img src="<%= Images[idx] %>" class="d-block w-100" alt="image">
                </div>
              <% }else{ %>
                <div class="carousel-item">
                  <img src="<%= Images[idx] %>" class="d-block w-100" alt="image">
                </div>  
              <% } %>
            <% } %>
            
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


      </div>
      <div class="col-lg-6 col-md-8">
        <div class="card-body">
            <h5 class="card-title"><%= HotelData.name %></h5>
			<p class="card-text"><%= HotelData.price %></p>
			<p class="card-text"><%= HotelData.location %></p>
			<p class="card-text"><%= HotelData.description %></p>
			<a href="/hotels/<%= HotelData._id %>/view" class="btn btn-success"
				>Book Now!</a
			>
			<a href="/hotels/<%= HotelData._id %>/edit" class="btn btn-secondary"
				>Edit Hotel</a
			>
			<form method="post" action="/hotels/<%= HotelData._id %>/delete?_method=delete">
                <button type="submit" class="btn btn-danger"
                    >Delete Hotel</button
                >
            </form>
        </div>
      </div>
    </div>
  </div>
<%- include('../partials/footer.ejs') %>
